.header
  
  .header__left
    = link_to "Maching food", root_path, class: "header__left"
   

.store
  .store__form
    .store__form__content
      .store__form__sub_head
        .h1 
        = @store_name
        の条件
        .store__form_group
        = form_with model: @food, local: true, class:"store__form__head_box" do |f|
 
          .form_group
            %label
            用途
            %span.form_require
              必須
            .div
            = f.select :way, Food.ways.keys, {prompt:"選択してください"}, class: 'store__select',id:"way"
          .form_group
            %label
            利用動機
            %span.form_require
              必須
            .div
            = f.select :motivation, Food.motivations.keys, {prompt:"選択してください"}, class: 'store__select',id:"motivation"
           
          .form_group
            %label
            ジャンル
            %span.form_require
              必須
            .genre1
              = f.collection_select :genre_id, @parents, :id , :name, {prompt:"選択してください"},  class: 'store__select1', id: 'parent-genre'

              -# =f.select :genre_id, {"#{@parent.name}": "#{@parent.id}"}, {},  class: 'store__select1', id: 'parent-genre'
              -# =f.select :genre_id, {"#{@child.name}": "#{@child.id}"}, {}, class: 'store__select1', id: 'parent-genre'
              -# =f.select :genre_id, {"#{@ground_child.name}": "#{@ground_child.id}"}, {},  class: 'store__select1', id: 'parent-genre'

              -# = f.collection_select :genre_id, @parents, :id , :name, {prompt:"選択してください"},  class: 'store__select1', id: 'parent-genre'
              -# = f.collection_select :genre_id, @child, :id , :name, {prompt:"選択してください"},  class: 'store__select1', id: 'parent-genre'
              -# = f.collection_select :genre_id, @ground_child, :id , :name, {prompt:"選択してください"},  class: 'store__select1', id: 'parent-genre'
          .form_group
            %label
            場所
            %span.form_require
              必須
            .div
            = f.select :wards, Food.wards.keys, {prompt:"選択してください"}, class: 'store__select',id:"wards"
          
          .form_group
            %label
            席タイプ
            %span.form_require
              必須
            .div
            = f.select :table, Food.tables.keys, {prompt:"選択してください"}, class: 'store__select',id:"table"

            .form_group
              %label
              人数
              %span.form_require
                必須
              .div
              = f.select :people, Food.people.keys, {prompt:"選択してください"}, class: 'store__select',id:"people"
            
            .form_group
              %label
              時間帯
              %span.form_require
                必須
              .div
              = f.select :time, Food.times.keys, {prompt:"選択してください"}, class: 'store__select',id:"time"

            .form_group
              %label
              サービス内容
              %span.form_require
                必須
              .div
              =f.text_field :service, class:"store__input", placeholder:"ファーストドリンクサービス"

            .store__form__content
              .store__form__content_text
                -# = link_to " 編集する", edit_food_path(@food.id), class: "store__form__back_btn_a"
              = link_to " 削除する", edit_food_path(@food.id), class: "store__form__btn_c"

              = link_to "決定する", root_path(@food.id), class: "store__form__btn"
  