.header
  
  .header__left
    = link_to "Maching food", root_path, class: "header__left"
   
  .header__right
    - if user_signed_in?
      = link_to "サービス登録", new_food_path, class: "header__right__logo-b"
      = link_to  current_user.store_name , user_path(current_user.id), class: "header__right__logo-b"
      -# = link_to "サービス確認・変更", "/users/show", class: "header__right__logo-b"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right__logo-a"

    - else
      飲食店の方
      = link_to "ログイン", new_user_session_path, class: "header__right__logo-a"
      = link_to "登録", new_user_registration_path, class: "header__right__logo-b"


.main
  .main__search
    .store__form
      .store__form__content
        .store__form__sub_head
          = link_to "飲食店を探す",root_path, class: "main__search__header"
          .store__form_group
          = form_with model: @food, local: true, class:"store__form__head_box" do |f|
  
            .form_group
              %label
              用途
              %span.form_require
                必須
              .div
              = f.select :way, Food.ways.keys, {prompt:"選択してください"}, class: 'store__select',id:"way"
            .form_group
              %label
              利用動機
              %span.form_require
                必須
              .div
              = f.select :motivation, Food.motivations.keys, {prompt:"選択してください"}, class: 'store__select',id:"motivation"
            
            .form_group
              %label
              ジャンル
              %span.form_require
                必須
              .genre1
                = f.collection_select :genre_id, @parents, :id , :name, {prompt:"選択してください"},  class: 'store__select1', id: 'parent-genre'

            .form_group
              %label
              場所
              %span.form_require
                必須
              .div
              = f.select :wards, Food.wards.keys, {prompt:"選択してください"}, class: 'store__select',id:"wards"
            
            .form_group
              %label
              席タイプ
              %span.form_require
                必須
              .div
              = f.select :table, Food.tables.keys, {prompt:"選択してください"}, class: 'store__select',id:"table"

              .form_group
                %label
                人数
                %span.form_require
                  必須
                .div
                = f.select :people, Food.people.keys, {prompt:"選択してください"}, class: 'store__select',id:"people"
              
              .form_group
                %label
                時間帯
                %span.form_require
                  必須
                .div
                = f.select :time, Food.times.keys, {prompt:"選択してください"}, class: 'store__select',id:"time"
            
              .store__form__content
                .store__form__content_text

                = link_to "検索する", search_foods_path, class: "store__form__btn"

                = form_with url: search_foods_path, local: true, method: :get, class: "store__form__btn" do |form|
                  = form.submit "検索する", class: "store__form__btn"


      